build/Palaso.BuildTasks.dll
build/Dependencies.files
build/NuGet.exe
lib/
output/
obj/
test-results/
.idea/
*.userprefs
*.user
*.swp
*.suo
source/packages/
source/NuGetBuild/

# Visual Studio 2015 cache/options directory
.vs/