build/Palaso.BuildTasks.dll
build/Dependencies.files
build/NuGet.exe
build/nuget.exe
lib/
output/
bin/
obj/
test-results/
.idea/
*.userprefs
*.user
*.swp
*.suo
source/packages/
source/NuGetBuild/

# Visual Studio 2015 cache/options directory
.vs/

# DNX
*project.lock.json
*project.fragment.lock.json
artifacts/

# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets