<!-- Copyright (c) 2013 SIL International -->
<!-- This software is licensed under the MIT license (http://opensource.org/licenses/MIT) -->
<?xml version="1.0"?>
<configuration>
  <dllmap dll="icuin40.dll" target="libicui18n.so.40"/>
  <dllmap dll="icuuc40.dll" target="libicuuc.so.40"/>
  <dllmap dll="icuin48.dll" target="libicui18n.so.48"/>
  <dllmap dll="icuuc48.dll" target="libicuuc.so.48"/>
  <dllmap dll="icuin50.dll" target="libicui18n.so.50"/>
  <dllmap dll="icuuc50.dll" target="libicuuc.so.50"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
