Source: libicu-cil
Section: cli-mono
Priority: optional
Maintainer: Martin Hosken <mhosken@sil.org>
Build-Depends: debhelper (>=7), cli-common-dev (>=0.7),mono-gmcs (>=2.0), mono-gac (>=2.0), mono-xbuild, libmono-system-data2.0-cil, nunit-console, libicu-dev
Standards-Version: 3.9.2

Package: libicu-cil
Section: cli-mono
Architecture: any
Depends: libmono-corlib2.0-cil (>= 2.0), libmono-system2.0-cil (>=2.0), ${misc:Depends}, ${cli:Depends}
Description: mono/.net wrapper for ICU 4.0 and later
 libicu-cil is a mono/.net library to allow interaction with the
 ICU library.
