#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#include /usr/share/cli-common/cli.make
export MONO_DISABLE_SHM = 1
ROOTDIR=$(CURDIR)

ICU_VER=`icu-config --version  | sed "s/\([0-9]\)\.\([0-9]\).*/\1\2/"`

XBUILD=MONO_SHARED_DIR=/tmp /usr/bin/xbuild bld/build.mono.proj /p:RootDir=$(ROOTDIR) /p:Configuration=DebugMono /p:icu_ver=$(ICU_VER)
build: build-stamp
build-stamp:
	dh_testdir
	$(XBUILD) /target:Compile
	locale
	locale -a
	nunit-console output/DebugMono/icu.net.tests.dll
	touch build-stamp

clean:
	dh_testdir
	$(XBUILD) /target:Clean
	rm -f *-stamp
	dh_clean

install: build install-stamp
install-stamp:
	dh_testdir
	dh_testroot
	dh_prep
	$(XBUILD) /target:Install /p:InstallDir=../debian/libicu-cil
	dh_installdirs
	dh_install
	dh_installdocs
	dh_installchangelogs
	dh_installcligac
	dh_cligacpolicy
	dh_icons
	dh_compress
	dh_fixperms
	dh_clifixperms
	dh_installdeb
	dh_makeclilibs -m 0.1.2
	dh_shlibdeps
	dh_clideps -d -i
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	touch install-stamp

binary-indep: install

binary-arch:

binary: binary-indep
